{# This is script is added here because we only need it when the user gets this content #}

<form action='/miscfiles' method='POST' enctype='multipart/form-data' onsubmit='return formFlags.allValid();'>
  <table>
   <tbody id='upload_form'>
    <tr><td>
        <td colspan='2'><h3>Add New File</h3>
    <tr><td>*
        <td><label for='uploadFile'><strong>File</strong>:</label>
        <td><input id='uploadFile' type='file' name='uploadFile' />
    <tr><td style='vertical-align: top'>*
        <td style='vertical-align: top'><label for='uploadRelease'><strong>Release Date</strong>:</label>
        <td><select id='uploadRelease' name='uploadRelease'>
 	      <option value='now' selected>Today</option>
              <option value='default'>18 Months from Now</option>
	      <option value='arbitrary'>Arbitrary</option>
            </select>
	    <div id='release_div' hidden><input type='text' id='arbRelease' name='arbRelease' placeholder='YYYY-MM-DD' value='{{ TODAY }}' /></div>
    <tr><td>
        <td><label for='uploadProg'>Program ID:</label>
        <td><input id='uploadProg' type='text' name='uploadProg' size='32'
             placeholder='Gemini Program ID (optional)'
 	    value='{{ uploadProg }}' />
    <tr><td>
        <td style='vertical-align: top'><label for='uploadDesc'>Description:</label>
        <td><textarea name='uploadDesc' cols='80' rows='24'
        		     placeholder='Describe the contents of the file. It may be useful to add keywords (eg. #my-instrument) to help with search. Optional, but recommended'></textarea>
    <tr><td><td>
        <td><input type='submit' name='upload' value='Send' />
   </tbody>
  </table>
</form>
