{% extends "layout.html" %}
{% block title %}Generic Files Management{% endblock %}

{% block extra_header %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/form.css" />
<style type="text/css">
 body {
   margin: 0;
 }
</style>
<script type='text/javascript'>
var tabInfo = [
        { id: 'search_tab', divId: 'search_frame' },
        { id: 'add_tab',    divId: 'add_frame'}
        ];

function setCurrentTab(tabName) {
   $.each(tabInfo, function(index, tabObj) {
      var li = $("#" + tabObj.id);
      var frame = $("#" + tabObj.divId);
      if (tabObj.id == tabName) {
         li.prop('className', 'current');
         frame.show()
      }
      else {
         li.prop('className', '');
         frame.hide();
      }
   });
}

$(document).ready(function() {
  $('#search_tab').click(function() {
    setCurrentTab('search_tab');
  });
  $('#add_tab').click(function() {
    setCurrentTab('add_tab');
  });
});
</script>
{% endblock %}

{% block body %}
<h1>Generic Files Management</h1>
{% if can_manage == True %}
 <!-- Here, code to add new files -->
{% endif %}
{%- if actionMessage %}
<div class='action_message'>{{ actionMessage }}</div>
{%- endif %}
{%- if errorMessage %}
 <div class='error_message'>{{ errorMessage }}</div>
{%- endif %}
{%- if can_add %}
<div id='tabsdiv'>
 <ul class='tabs'>
   <li><a href="#" id="search_tab" class="current">Search</a>
   <li><a href="#" id="add_tab">Add New</a>
 </ul>
</div>
&nbsp;
<div id='frames' style='padding-left: 2em; padding-right: 2em'>
 <div id='search_frame'>
{%- endif %}
{% include "miscfiles/miscfile_search.html" %}
{%- if can_add %}
 </div><!-- search div -->
 <div id='add_frame' hidden='true'>
{% include "miscfiles/miscfile_add.html" %}
 </div>
</div>
{%- endif %}
{% endblock %}
