# Editor Cruft
*.swp
~*

# Python
__pycache__
*.pyc

# Python build artifacts
*.egg-info
build
dist

# OSX
.DS_Store

# IDEA
.idea

# VSCode
.vscode

# Robot output
robot/*.png
robot/*.html
robot/*.xml

# Ansible
ansible/playbooks/secret
ansible/playbooks/id_rsa
ansible/vault.txt
ansible/aws_vars.yml
