astropy
future
requests
scipy
sphinx_rtd_theme
SQLAlchemy==1.4.20
sqlalchemy-migrate
psycopg2-binary
PyYAML
jinja2
pyfits
dateutils
python-dateutil
pandas
boto3
matplotlib
urllib3
Pillow
Cython
jplephem
mysql-connector
simplejson
suds-jurko
ephem
sphinx==2.2.1
m2r
requests-toolbelt
smart_open
# last since it fails on non-Apache systems
mod_wsgi
