astropy
future
requests
scipy
sphinx_rtd_theme
SQLAlchemy
sqlalchemy-migrate
psycopg2-binary
PyYAML
jinja2
pyfits
dateutils
python-dateutil
pandas
boto3
matplotlib
urllib3
Pillow
Cython
jplephem
mysql-connector
simplejson
suds-jurko
ephem
sphinx
requests-toolbelt
# last since it fails on non-Apache systems
mod_wsgi
