{% extends "layout.html" %}

{% block title %}Gemini Archive - Queue Status Page{% endblock %}

{% block extra_header %}
<style type='text/css'>
 .tabs {
   clear: both;
   padding: 0;
   margin: 0;
   height: 32px;
   border-bottom: 1px solid #000;
 }

 .tab {
   float: left;
 }

 .tab [type=radio] {
   display: none;
 }

 .tab label {
   display: inline-block;
   background-color: #ddd;
   border: 1px solid #000;
   width: 280px;
   font-size:16px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   color:#333;
   padding:0px;
   margin:0px;
   position: relative;
   top: 1px;
 }

 .content {
   display: none;
   position: absolute;
   padding: 0 2em;
   left: 0;
   width: 100%;
   clear: both;
 }

 .content-left {
   float: left;
   width: 50%;
 }

 .content-right {
   float: right;
   width: 50%;
 }

 [type=radio]:checked ~ label {
   background: white;
   border-bottom: 1px solid white;
   z-index: 2;
 }

 [type=radio]:checked ~ label ~ .content {
   display: block;
 }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type='text/javascript'>
  function text(content) {
    return document.createTextNode(content);
  }

  function header(content) {
    var head = document.createElement('h3');
    head.appendChild(text(content));

    return head;
  }

  function linkTo(url, content) {
    var link = document.createElement('a');
    link.href = url;
    link.appendChild(text(content));

    return link;
  }

  function newRow(content, is_header) {
    var row = document.createElement('tr');
    var element;

    if (is_header) {
      element = 'th';
      row.className = 'tr_head';
    }
    else {
      element = 'td';
      row.className = 'alternating';
    }

    $.each(content, function(index, value) {
      var cell = document.createElement(element);
      cell.appendChild(value);
      row.appendChild(cell);
    });

    return row;
  }

  function newTable(queue, data) {
    var table = document.createElement('table');

    table.appendChild(newRow([text('In queue since'), text('Filename')], true));
    $.each(data, function(index, value) {
      table.appendChild(newRow([text(value.since),
      				linkTo('/queuestatus/' + queue + '/' + value.oid, value.filename)]));
    });

    return table;
  }

  function updateContent(data) {
    var result = {};

    $.each(data, function(index, value) {
      result[value.queue] = value.token;

      if (typeof(value.waiting) != 'undefined') {
        var waiting = $('#waiting-' + value.queue);
        var errors = $('#errors-' + value.queue);
	var size = value.waiting.length;
	var nerrors = value.errors.length;
	var sizeSpan = $('#size-' + value.queue);
	var errorSpan = $('#nerrors-' + value.queue);

	sizeSpan.empty();
	errorSpan.empty();
	waiting.empty();
	errors.empty();

	sizeSpan.append(text(size + nerrors));
	errorSpan.append(text(nerrors));

	if (size > 0) {
	  waiting.append(header('Waiting...'));
	  waiting.append(newTable(value.queue, value.waiting));
	}
	if (nerrors > 0) {
	  errors.append(header('Errors'));
	  errors.append(newTable(value.queue, value.errors));
	}
      }
    });

    return result;
  }

  var remote = {
    lastEntry: null,
    querying: false,
    loadContent: function() {
      if (this.querying) return;

      this.querying = true;

      $.ajax({
        type: "POST",
	parent: this,
	url:  "/queuestatus/json",
	data: JSON.stringify(this.lastEntry),
	contentType: "application/json; charset=utf-8",
	success: function(data) {
	  this.parent.lastEntry = updateContent(data);
	  this.parent.querying = false;
	},
	failure: function(errMsg) {
	  this.parent.querying = false;
	  // TODO: Should notify the failure somehow...
	}
      });

      return true;
    }
  };

  // Reload every 60 seconds
  $(document).ready(function() {
    setInterval(remote.loadContent, 60000);
  });
</script>
{% endblock %}

{% block body %}
<h1>Gemini Archive - Queue Status Page</h1>

<div class='tabs'>
{%- for row in general_rows %}
  <div class='tab'>
    <input type="radio" id='{{ row.lname }}' name='tab-group' {% if row.lname == 'iq' %}checked{% endif %}/>
    <label id='label-{{ row.lname }}' for="{{ row.lname }}">{{ row.name }} (<span id='size-{{ row.lname }}'>{{ row.size + row.errors }}</span>/<span id='nerrors-{{ row.lname }}'>{{ row.errors }}</span>)</a></label>

    <div id='content-{{ row.lname }}' class="content">
{%- with table = detail_tables[row.lname] %}
     <div id='waiting-{{ row.lname }}' class='content-left'>
{%- if row.lname in detail_tables %}
<h3>Waiting...</h3>
<table>
 <tr class='tr_head'><th>In queue since<th>Filename</tr>
 {% for row in table.rows %}
 <tr class='alternating'><td>{{ row.since }}<td><a href='/queuestatus/{{ table.lname }}/{{ row.oid }}'>{{ row.filename }}</a></tr>
 {%- endfor %}
</table>
{%- endif %}
     </div>
     <div id='errors-{{ row.lname }}' class='content-right'>
{%- if row.errors %}
<h3>Errors</h3>
<table>
 <tr class='tr_head'><th>In queue since<th>Filename</tr>
 {% for row in table.errors %}
 <tr class='alternating'><td>{{ row.since }}<td><a href='/queuestatus/{{ table.lname }}/{{ row.oid }}'>{{ row.filename }}</a></tr>
 {%- endfor %}
</table>
{%- endif %}
     </div>
{%- endwith %}
    </div>
  </div>
{%- endfor %}
</div>

{% endblock %}
