[Unit]
Description=Fits Storage API Backend
After=syslog.target network.target

[Service]
Environment=PYTHONPATH=/opt/FitsStorage
User=fitsdata
ExecStart=python3 /opt/FitsStorage/fits_storage/scripts/api_backend.py --demon
Restart=always
# This will force the system to wait 10 seconds before respawning
RestartSec=10

[Install]
WantedBy=multi-user.target
