[Unit]
Description=The UWSGI FitsStorage Process
After=network.target remote-fs.target nss-lookup.target

[Service]
# Use common env variables for regular HTTP
# Be careful with this! Change to another file if needed
TimeoutStartSec=10
User=fitsweb
ExecStart=/opt/miniforge3/envs/fitsdata/bin/uwsgi --ini /opt/uwsgi/fitsservice.ini

[Install]
WantedBy=multi-user.target
