label {
    display: inline-block;
    width: 8em;
    font-weight: bold;
    line-height:175%;
}

input {
    clear: left;
}

.wide {
    width: auto;
}

.next {
    clear: both;
}

.left {
    height: 100%;
    float: left;
    width: 50%;
}

.right {
    height: 100%;
    float: right;
    width: 50%;
}

.ddw {
    width:120px;
}
.ddwide {
    width:160px;
}

.searchform {
    margin: 10px;
}

.searchresults {
    margin: 10px;
}

.help {
    font-size: 0.85em;
    font-style: italic;
}

.helpleft {
    display: none;
    font-size: 1.2em;
    width: 20em;
    position: absolute;
    padding: 10px;
    background: #CCA;
    border: double;
    left: auto;
}

.helpright {
    display: none;
    font-size: 1.2em;
    width: 20em;
    position: absolute;
    padding: 10px;
    background: #CCA;
    border: double;
    left: 500px;
}

.help:hover span {
    display: inline-block;
}

hr {
    height: 2px;
    border-width: 0;
    color: grey;
    background-color: grey;
}

.center {
    text-align: center;
}

/*
.frames div {
    display:none;
    padding:15px 10px;
    border-top:0;
    height:100px;
    font-size:14px;
    background-color:#fff;
}
*/

ul.tabs {
    list-style:none;
    margin:0;
    padding:0;
    border-bottom:1px solid #666;
    height:30px;
}

ul.tabs li {
    float:left;
    text-indent:0;
    padding:0;
    margin:0;
    list-style-image:none;
}

ul.tabs a {
    background-color: #b0c4de no-repeat -420px 0;
    font-size:11px;
    display:block;
    height: 30px;
    line-height:30px;
    width: 134px;
    text-align:center;
    text-decoration:none;
    color:#333;
    padding:0px;
    margin:0px;
    position:relative;
    top:1px;
}

ul.tabs a:active {
    outline:none;
}

ul.tabs a:hover {
    background-position: -420px -31px;
    color:#fff;
}

ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
    background-position: -420px -62px;
    cursor:default;
    color:#000;
}

/*
ul.tabs a.s { background-position: -553px 0; width:81px; }
ul.tabs a.s:hover { background-position: -553px -31px; }
ul.tabs a.s.current  { background-position: -553px -62px; }

ul.tabs a.l { background-position: -248px -0px; width:174px; }
ul.tabs a.l:hover { background-position: -248px -31px; }
ul.tabs a.l.current { background-position: -248px -62px; }

ul.tabs a.xl { background-position: 0 -0px; width:248px; }
ul.tabs a.xl:hover { background-position: 0 -31px; }
ul.tabs a.xl.current { background-position: 0 -62px; }
*/
