label {
    display: inline-block;
    width: 8em;
    font-weight: bold;
    line-height:175%;
}

input {
    clear: left;
}

.next {
    clear: both;
}

.left {
    height: 100%;
    float: left;
    width: 50%;
}

.right {
    height: 100%;
    float: right;
    width: 50%;
}

.ddw {
    width:100px;
}

.searchform {
    margin: 10px;
}

.searchresults {
    margin: 10px;
}

.help {
    font-size: 0.85em;
    font-style: italic;
}

p.help {
    display: none;
    font-size: 1.2em;
    width: 20em;
    position: absolute;
    padding: 10px;
    background: #CCA;
    border: double;
}

.help:hover p {
    display: inline-block;
}
