label {
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
}

input {
    display: inline-block;
    float: left;
}

.left {
    float: left
}

.right {
    float: right
}

.ddw {
    width:100px;
}

.container {
    position: relative;
    width: 50%;
}

.spacer {
    width: 100%
}

