PYTHONPATH=/opt/sqlalchemy/lib/python2.6/site-packages:/opt/FitsStorage:/opt/gemini_python:/astro/iraf/rhux-x86_64-glibc2.5/gempylocal/lib/stsci_python/lib/python2.6/site-packages:/astro/iraf/rhux-x86_64-glibc2.5/gempylocal/gemaux_python_internal/lib/python2.6/site-packages:/astro/iraf/rhux-x86_64-glibc2.5/gempylocal/gemaux_python_internal/lib/python2.6/site-packages
0 9 * * * /home/fitsdata/diskspace.py
5 8 * * * /astro/iraf/rhux-x86_64-glibc2.5/gempylocal/bin/python /opt/FitsStorage/delete_files.py --auto --yesimsure --demon --emailto='phirst@gemini.edu'
0 * * * * /astro/iraf/rhux-x86_64-glibc2.5/gempylocal/bin/python /opt/FitsStorage/service_ingest_queue.py --demon --lockfile=siq_lock.1
*/6 * * * * /astro/iraf/rhux-x86_64-glibc2.5/gempylocal/bin/python /opt/FitsStorage/add_to_ingest_queue.py --file-re=today --demon
50 13 * * * /astro/iraf/rhux-x86_64-glibc2.5/gempylocal/bin/python /opt/FitsStorage/add_to_ingest_queue.py --file-re=tenday --demon
15 * * * * /astro/iraf/rhux-x86_64-glibc2.5/gempylocal/bin/python /opt/FitsStorage/add_to_ingest_queue.py --file-re=fourday --demon
1 * * * * /astro/iraf/rhux-x86_64-glibc2.5/gempylocal/bin/python /opt/FitsStorage/rollcall.py --limit 25000 --demon
0 7 * * * /astro/iraf/rhux-x86_64-glibc2.5/gempylocal/bin/python /opt/FitsStorage/database_vacuum.py --demon
30 7 * * * /astro/iraf/rhux-x86_64-glibc2.5/gempylocal/bin/python /opt/FitsStorage/database_backup.py --demon
0 8 * * * /astro/iraf/rhux-x86_64-glibc2.5/gempylocal/bin/python /opt/FitsStorage/YouGotDataEmail.py
0 8 * * Tue /astro/iraf/rhux-x86_64-glibc2.5/gempylocal/bin/python /opt/FitsStorage/MissingCalibrationEmail.py
