PYTHONPATH=/opt/FitsStorage:/opt/gemini_python
MAILTO=fitsadmin@gemini.edu
#
# Add to ingest queue
#*/4  * * * * python /opt/FitsStorage/fits_storage/scripts/add_to_ingest_queue.py --file-re=today --demon
#*/15 * * * * python /opt/FitsStorage/fits_storage/scripts/add_to_ingest_queue.py --file-re=fourday --demon
#* 18 * * * python /opt/FitsStorage/fits_storage/scripts/add_to_ingest_queue.py --file-re=twentyday --demon
#2 * * * * python /opt/FitsStorage/fits_storage/scripts/add_to_ingest_queue.py --path=masks --demon
#6 * * * * python /opt/FitsStorage/fits_storage/scripts/add_to_ingest_queue.py --path=obslogs --demon
#10  * * * * python /opt/FitsStorage/fits_storage/scripts/add_to_ingest_queue.py --path=iraf_cals --demon
#*/5 * * * * python /opt/FitsStorage/fits_storage/scripts/feed_ingest_queue.py --demon --site=N --lockfile
#
# File curation
#5 8 * * * python /opt/FitsStorage/fits_storage/scripts/delete_files.py --auto --yesimsure --demon --emailto='fitsadmin@gemini.edu'
#1 * * * * python /opt/FitsStorage/fits_storage/scripts/rollcall.py --limit 25000 --demon
#0 9 * * * /home/fitsdata/diskspace.py
#
# Notifications
#50 7 * * * python /opt/FitsStorage/fits_storage/scripts/get_notifications_from_odb.py --demon --odb=gnodb --semester=2016A
#51 7 * * * python /opt/FitsStorage/fits_storage/scripts/get_notifications_from_odb.py --demon --odb=gnodb --semester=2015B
#52 7 * * * python /opt/FitsStorage/fits_storage/scripts/get_notifications_from_odb.py --demon --odb=gnodb --semester=2016A --to-remote-server=https://archive.gemini.edu
#53 7 * * * python /opt/FitsStorage/fits_storage/scripts/get_notifications_from_odb.py --demon --odb=gnodb --semester=2015B --to-remote-server=https://archive.gemini.edu
#0 8 * * *  python /opt/FitsStorage/fits_storage/scripts/YouGotDataEmail.py --demon
#0 8 * * *  python /opt/FitsStorage/fits_storage/scripts/YouGotDataEmail.py --demon --check
#0 8 * * Tue python /opt/FitsStorage/fits_storage/scripts/MissingCalibrationEmail.py
#
# Maintainance etc
#0 7 * * * python /opt/FitsStorage/fits_storage/scripts/database_vacuum.py --demon
#30 7 * * * python /opt/FitsStorage/fits_storage/scripts/database_backup.py --demon --exclude-queues

