[Unit]
Description=Fits Service CalCache Queue 1
After=syslog.target network.target postgresql.service

[Service]
Environment=PYTHONPATH=/opt/FitsStorage:/opt/DRAGONS
User=fitsdata
ExecStart=/usr/bin/python3 /opt/FitsStorage/fits_storage/scripts/service_calcache_queue.py --demon --debug --lockfile --name=ccq1
Restart=always
# This will force the system to wait 10 seconds before respawning
RestartSec=10

[Install]
WantedBy=runlevel5.target
