[Unit]
Description=Fits Service Ingest Queue
After=syslog.target network.target postgresql.service

[Service]
Environment=PYTHONPATH=/opt/FitsStorage:/opt/DRAGONS
User=fitsdata
ExecStart=/usr/bin/python3 /opt/FitsStorage/fits_storage/scripts/service_ingest_queue.py --demon --lockfile --name=siq
Restart=always
# This will force the system to wait 10 seconds before respawning
RestartSec=10

[Install]
WantedBy=runlevel5.target
