body {
  font-family: "Arial", "sans-serif";
}

.nowrap {
  white-space: nowrap;
}

.fullwidth {
  width: 100%;
  border: 0;
}

.tr_head {
  background-color: #A0A0FF;
  font-size: small
}

tr.alternating:nth-child(odd) {
  background-color: #F0F0FF;
  font-size: small
}

tr.alternating:nth-child(even) {
  background-color: #E0E0FF;
  font-size: small
}

tr.warn-alternating:nth-child(odd) {
  background-color: #FFF0F0;
  font-size: small
}

tr.warn-alternating:nth-child(even) {
  background-color: #FFE0E0;
  font-size: small
}

tr.sq-alternating:nth-child(odd) {
  background-color: #aaffaa;
  font-size: small
}

tr.sq-alternating:nth-child(even) {
  background-color: #aaccaa;
  font-size: small
}

tr.ql-alternating:nth-child(odd) {
  background-color: #ccffcc;
  font-size: small
}

tr.ql-alternating:nth-child(even) {
  background-color: #bbeebb;
  font-size: small
}

tr.alternating:hover {
  background-color: #C0C0FF;
}

tr.warn-alternating:hover {
  background-color: #C0C0FF;
}

tr.sq-alternating:hover {
  background-color: #88aa88;
}

tr.ql-alternating:hover {
  background-color: #aaddaa;
}
