body {
  font-family: "Arial", "sans-serif";
}

.fullwidth {
  width: 100%;
  border: 0;
}

.tr_head {
  background-color: #A0A0FF;
  white-space:nowrap;
  font-size: small
}

tr.alternating:nth-child(odd) {
  background-color: #F0F0FF;
  white-space:nowrap;
  font-size: small
}

tr.alternating:nth-child(even) {
  background-color: #E0E0FF;
  white-space:nowrap;
  font-size: small
}

tr.warn-alternating:nth-child(odd) {
  background-color: #FFF0F0;
  white-space:nowrap;
  font-size: small
}

tr.warn-alternating:nth-child(even) {
  background-color: #FFE0E0;
  white-space:nowrap;
  font-size: small
}

tr.alternating:hover {
  background-color: #C0C0FF;
}

tr.warn-alternating:hover {
  background-color: #C0C0FF;
}
