{% extends "layout.html" %}
{% block title %}GMOS Cal Twilight Details Report{% endblock %}
{% block body %}
<h1>GMOS Cal Twilight Details Report</h1>
{% if is_development %}
<h1>This is the Development Server, not the operational system. If you're not sure why you're seeing this message, please consult PH</h1>
{% endif %}
{% if using_sqlite %}
<h1>The GMOS Cal page is not implemented with the SQLite database backend as it uses database functionality not supported by SQLite.</h1>
<p>Talk to PH is you have a use case needing this.
<p>You should not see this message from facility central servers
{% else %}
<h2>Twilights from Date</h2>
<table border='0'>
  <tr class='tr_head'><th>Number of Science Frames</th><th>Number of Twilight Frames</th><th>Filter</th><th>Binning</th><th>From Date</th><th>Filename</th></tr>
 {%- for row in counts %}
  <tr class='alternating'>
    <td>{{ row["science"] }}</td><td>{{ row["twilights"] }}</td><td>{{ row["filter"] }}</td><td>{{ row["bin"] }}</td><td>{{ row["dt"] }}</td>
      {% if row["filename"] %}
      <td><a href="https://archive.gemini.edu/preview/{{ row['filename']}}">[P] {{ row["filename"] }}</a></td>
      {% else %}
      <td>(None)</td>
      {% endif %}
  </tr>
 {%- endfor %}
</table>

{% endif %}{# using_sqlite #}
{% endblock %}
