<!DOCTYPE html><html><head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/titlebar.js"></script>
<script src="/form.js"></script>
<link rel="stylesheet" type="text/css" href="/whoami.css">
<link rel="stylesheet" type="text/css" href="/titlebar.css">
<link rel="stylesheet" type="text/css" href="/form.css">
<link rel="stylesheet" type="text/css" href="/table.css">
<title>{% block title %}{% endblock %}</title></head>
<body>
{% block body %}{% endblock %}
</body>
</html>
