{% extends "layout.html" %}

{% block title %}Gemini Archive Reduced data Processing Tags{% endblock %}

{% block body %}
<h1>Gemini Archive Reduced data Processing Tags</h1>
<TABLE class="nowrap">
    <tr class="tr_head">
        <th>Processing Tag</th>
        <th>Domain</th>
        <th>Priority</th>
        <th>Published</th>
        <th>Description</th>
    </tr>
    {% for tag in tags %}
    <tr class="alternating">
        <td>{{tag.tag}}</td>
        <td>{{tag.domain}}</td>
        <td>{{tag.priority}}</td>
        <td>{{tag.published}}</td>
        <td>{{tag.description}}</td>
    </tr>
    {% endfor %}
</TABLE>
{% endblock %}
