{% extends "user/layout_with_user_table.html" %}

{% block title %}Gemini Archive Admin Set Password{% endblock %}

{% block body %}
    <h1>Gemini Archive Admin Set Password</h1>
    {% if allowed %}
        {% if password_changed %}
            <p>Password updated for username: {{ action_user.username }} - {{ action_user.fullname }} - {{ action_user.email }}</p>
        {% elif no_result %}
            <p>Could not locate user in database</p>
        {% endif %}

        {{ user_table() }}

        <h2>Change Password</h2>
        <form action="/admin_change_password" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Type in or click table...">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <button type="submit" value="Submit">Submit</button>
        </form>
    {% else %}
    <p>You don't appear to be logged in as a superuser. Sorry.</p>
    {% endif %}
{% endblock %}
