{% extends "user/layout_with_user_table.html" %}

{% block title %}Gemini Archive File/Observation Permissions{% endblock %}

{% block body %}
    <h1>Gemini Archive File/Observation Permissions</h1>
    {% if allowed %}
        <div class="outlinebox">
            <h2>Add Permission</h2>
            {% for warning in warnings %}
                <div class="alert alert-danger" role="alert">
                  {{ warning }}
                </div>
            {% endfor %}
            <form action="/admin_file_permissions" method="POST">
                <p><label for="username">Username(s) (comma separate):</label>
                <input type="text" name="username" id="username" /></p>
                <p><label for="item">Data (Obs ID or Filename(s) - comma separate):</label>
                <input type="text" name="item" id="item" /></p>
                <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
            </form>
        </div>
        <br \>
        <div class="outlinebox">
            <h2>Search Permissions</h2>
            <form action="/admin_file_permissions" method="POST">
                <label for="filter">Search (Username, Obs ID or Filename):</label>
                <input type="text" name="filter" id="filter" value="{{ filter }}" />
                <button type="submit" class="btn btn-primary" value="Submit">Search</button>
            </form>

            <h4>Observation Permissions</h4>
            <table id="observationtable">
                <thead class='tr_head'>
                    <tr>
                        <th>Username</th>
                        <th>Observation ID</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for observation in observation_list %}
                        <tr class='alternating'>
                            <td>{{ observation.username }}</td>
                            <td>{{ observation.observation_id }}</td>
                            <td>
                                <form action="/admin_file_permissions" method="POST">
                                    <input type="hidden" name="delete" id="delete" value="{{ observation.id }}" />
                                    <button type="submit" value="Submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h4>File Permissions</h4>
            <table id="filetable">
                <thead class='tr_head'>
                    <tr>
                        <th>Username</th>
                        <th>Filename</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in file_list %}
                        <tr class='alternating'>
                            <td>{{ file.username }}</td>
                            <td>{{ file.filename }}</td>
                            <td>
                                <form action="/admin_file_permissions" method="POST">
                                    <input type="hidden" name="delete" id="delete_file" value="{{ file.id }}" />
                                    <button type="submit" value="Submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br />
        <div class="outlinebox">
            <h2>User List</h2>
            {{ user_table() }}
        </div>
    {% else %}
        <p>You don't appear to be logged in as a superuser. Sorry.</p>
    {% endif %}
{% endblock %}
