{% extends "layout.html" %}

{% block title %}Gemini Archive Change Email{% endblock %}

{% block body %}
<h2>Change Email</h2>
{% if reason_bad %}
<h3>Request not valid:</h3>
<p>{{ reason_bad }}</p>
{% endif %}
{% if successful %}
<h3>Email has been changed.</h3>
{% if thing_string %}
<p><a href="/searchform/{{ thing_string }}">Click here to go back to your previous search</a></p>
{% else %}
<p><a href="/searchform">Click here to go to the searchform</a></p>
{% endif %}
{% else %}{# not successful means we're just presenting the form or we couldn't change the password. Show the form anyway #}
<p>Fill out and submit this form to change your email.</p>
<form action="/change_email/{{ thing_string }}" method="POST">
    <table>
        <tr>
            <td><label for="newemail">New Email</label></td>
            <td><input class="form-control" type="email" name="newemail" id="newemail"></td>
        </tr>
        <tr>
            <td><label for="newagain">New Email Again</label></td>
            <td><input class="form-control" type="email" name="newagain" id="newagain"></td>
        </tr>
    </table>
    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
</form>
    {% endif %}
{% endblock %}
