{% extends "layout.html" %}

{% block title %}Gemini Archive Change Password{% endblock %}

{% block body %}
{% if reason_bad %}
  <h2>Request not valid:</h2>
  <p>{{ reason_bad }}</p>
{% endif %}
{% if successful %}
  <p>Password has been changed</p>
  {% if thing_string %}
    <p><a href="/searchform/{{ thing_string }}">Click here to go back to your previous search</a></p>
  {% else %}
    <p><a href="/searchform">Click here to go to the searchform</a></p>
  {% endif %}
{% else %}{# not successful means we're just presenting the form or we couldn't change the password. Show the form anyway #}
  <form action="/change_password/{{ thing_string }}" method="POST">
  <P>Fill out and submit this form to change your password. Password must be 8 characters or more and must contain uppercase and lowercase letters, and numbers.</P>
  <table>
    <tr><td><label for="oldpassword">Current Password</label></td>
        <td><input type="password" size=16 name="oldpassword"</td></tr>
    <tr><td><label for="newpassword">New Password</label></td>
        <td><input type="password" size=16 name="newpassword"</td></tr>
    <tr><td><label for="newagain">New Password Again</label></td>
        <td><input type="password" size=16 name="newagain"</td></tr>
  </table>
  <input type="submit" value="Submit" />
  </form>
{% endif %}
{% endblock %}
