{% extends "layout.html" %}

{% block extra_header %}
<meta name="robots" content="noindex, nofollow">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/static/titlebar.js"></script>
<script src="/static/login.js"></script>
<link rel="stylesheet" type="text/css" href="/static/whoami.css" />
<link rel="stylesheet" type="text/css" href="/static/titlebar.css" />
<link rel="stylesheet" type="text/css" href="/static/login.css" />

{% endblock %}

{% block title %}Gemini Archive log in{% endblock %}

{% block body %}

<div class="titlebar">
  <div class="titlebar_left">
  {{ server_title }}
  </div>
  <div class="titlebar_help" id="help_about">
    <a href="/help/index.html" target="_blank">Help</a> -
    <a href="/help/about.html" target="_blank">About</a>
  </div>
  <div class="titlebar_right" id="div_whoami">
    Loading...
  </div>
</div>

<H1>Login</H1>

{% if logged_in %}
  <H3>Welcome, you are logged in to the Gemini Archive.</H3>
  <P>Your account has the following login methods registered: {{ login_methods }}.</P>
  <P>To add additional login methods, simply log in using the new method below.</P>
  {% if thing_string %}
    <p><a href="/searchform/{{ thing_string }}">Click here to go back to your search form</a></p>
    <p><a href="/searchform">Click here to go to an empty search form</a></p>
  {% else %}
    <p><a href="/searchform">Click here to go to the search form</a></p>
  {% endif %}
  <p>In order to access proprietary data, your programs need to be registered with your archive account.</p>
  <p><a href="/my_programs">Click here to register programs</a></p>

   <H3>API access token</H3>
   <p>If you access the archive API from scripts and would like to have those
     scripts authenticate as you (for example to access your proprietary data),
     you will need to copy and store this access token. Store this value with
     care - anyone who obtains it can authenticate to the archive as you. You
     can invalidate this value by logging out of the archive from any browser.
     A new value will be issued when you log back in.</p>

   <p>The <a href="/help/api.html#authentication">API authentication</a> help
     section describes how to use this value.</p>
   <button onclick="showCookie()">Show / Hide cookie value</button>
   <button onclick="copyCookie()">Copy cookie value</button>
   <!-- The text field that the javascript copyCookie function looks at-->
   <div id="cookie" style="display:none;"><pre>{{ cookie }}</pre></div>

<hr>
{% endif %}

{% if reason_bad %}
  <H3>Log-in did not succeed: {{ reason_bad }}. Please try again.</H3>
  <P>If you have forgotten your GOA username and/or password,
    <a href="/request_password_reset">click here to reset your password</a>.</P>
  <hr>
{% endif %}

<P>There are now several options for logging in to the Gemini Observatory Archive -
    in addition to the "traditional" GOA username and password log-in, you can
    now also authenticate using your ORCID ID, and NOIRlab staff can authenticate using
    NOIRlab single sign on. Please read the more detailed explanation below.</P>

<div class="loginboxes">
    <div class="loginbox">
        <a href="/orcid"><H3 style="text-align:center;">Click here to sign in using ORCID</H3>
            <img src="https://orcid.org/assets/vectors/orcid.logo.svg" class="loginlogo" alt="ORCID">
        </a>
    </div>
    <div class="loginbox">
        <a href="/noirlabsso"><H3 style="text-align:center;">Click here to sign in using NOIRlab SSO</H3>
            <P style="text-align:center;">[Gemini / NOIRLab staff only]</P>
        <img src="https://noirlab.edu/public/media/archives/logos/svg/logo001.svg" class="loginlogo" alt="NOIRLab">
        </a>
    </div>
    <div class="loginbox">
        <H3>To sign in using traditional GOA username and password, sign in here:</H3>
        <FORM action="/login/{{ thing_string }}" method="POST">
        <TABLE>
        <TR><TD><LABEL for="username">Username</LABEL><TD>
        <TD><INPUT id="username" type="text" size=16 name="username" value='{{ username }}'></TD></TR>
        <TR><TD><LABEL for="password">Password</LABEL><TD>
        <TD><INPUT id="password" type="password" size=16 name="password"></TD></TR>
        </TABLE>
        <INPUT type="hidden" name="redirect" value="{{ redirect }}">
        <INPUT type="submit" value="Submit">
        </FORM>
    </div>
</div>

<H2>Not sure which to use?</H2>

<H3>New to the Gemini Observatory Archive?</H3>
<UL>
<LI>If you are new to the Gemini Observatory Archive, and you already have an
    ORCID iD, we recommend signing in with ORCID.</LI>
<LI>If you use Gemini data for your astronomy research, but don't have an
    <a href="https://info.orcid.org/what-is-orcid/">ORCID iD</a>, we recommend
    <a href="https://orcid.org/register">registering for an ORCID iD</a>,
    then signing in with ORCID. As more Gemini Observatory services adopt ORCID
    this will allow more seamless integration between the GOA and other Gemini
    services, as well as external services.</LI>
<LI>If you are a member of Gemini or NOIRLab staff using Gemini data for operational
purposes, we recommend signing in with NOIRLab SSO.</LI>
</UL>

<H3>Existing GOA Users</H3>
<P>When the GOA was created, username / password was the only sign in option,
    and thus all older accounts  will have username / password sign-in.</P>
<P>We expect that most users will want to switch to ORCID sign-in so that they
    do not have to remember a specific GOA username and password. NOIRLab staff
    members may wish to switch to NOIRLab sign-in for the same reason.</P>
<P>The simplest way to do this and ensure that you maintain your current proprietary
    data access is as follows:
<UL>
    <LI>Ensure you are logged in to GOA. You can tell if you are already logged
        in by looking at the top-right of this page. If your name shows up next to the
        <img src="/static/user1-64x64.png" height="18px"> symbol, you are already
        logged in. If you see "Not logged in", then log in using your GOA username
        and password now, then when you get back here after logging in, continue
        to the next step.
    <LI>Log in again, using ORCID or NOIRLab SSO. This will add your ORCID or NOIRLab ID
to your archive account.</LI>
</UL>

<H3>Traditional username / password users</H3>
<P>If you are not a NOIRlab staff member, don't want to create or use an ORCID, or just prefer the simple old ways,
    sign in using the traditional username / password form. If you don't already have an account, you can
    <a href="/request_account">request one here</a></P>

<H2>Further details and explanation</H2>
<P>In order to access proprietary data in GOA, GOA needs to know who you are and what
    proprietary data rights you have. GOA maintains a database of registered users along
    with what proprietary data rights they have. The process of logging-in allows GOA to
    associate a user session (or API client) with a particular user in the database,
    and thus determine which proprietary data to allow that session to access.</P>

<P>Whichever method you use to log in, you should end up logged in to the
    same GOA account. A single GOA account can have a username-password pair,
    an ORCID iD, and/or a NORLAB ID associated with it. Obviously, most accounts
    will only have one or two forms of identification defined. Older accounts will only
    have username-password defined, for example. Either way, you can log into an account
    using any identification method that is defined for that account.</P>

<P>If you log in by a new method (e.g. ORCID) <strong>while you are already logged into a GOA
    account</strong> (for example from a previous username-password login), the system will
    <strong>add that new login method</strong> (e.g. ORCID iD) to your existing account.</P>

<P>If you log in by ORCID or NOIRLab and GOA doesn't already have an account corresponding
    to that ORCID or NOIRLab ID, we will simply create a new account for you as you log in.
    If you inadvertently end up with multiple accounts please file a helpdesk ticket,
    and we will merge them into one. </P>

<P>You can tell what log-in methods are valid for your account in the logged-in message
    near the top of this page or by clicking on your
    account name pull down to the top right of this page. If you see <code>ORCID</code>
    and your ORCID id listed, your account is registered to an ORCID iD.
    If you see <code>NOIRLab ID</code> listed, you have a NOIRLab SSO account registered,
    and if you see <code>Username</code>, then you have a traditional username-password
    login defined.</P>
{% endblock %}
