{% extends "layout.html" %}

{% block title %}Gemini Archive password reset request{% endblock %}

{% block body %}
{% if debugging %}<P>things: {{ things }}</P>{% endif %}
{% if valid_request %}
 <H1>Gemini Observatory Archive Password Reset</H1>
 {% if password_reset %}
  <P>Password has been reset.</P>
  <p><a href="/login">Click here to log in.</a></p>
 {% elif invalid_link %}
  <P>Link is no longer valid. Please request a new one.</P>
 {% else %}{# Just show the form... #}
  {% if reason_bad %}<P>Your request was invalid. {{ reason_bad }}. Please try again.</P>{% endif %}
  <form action="/password_reset/{{ userid }}/{{ token }}" method="post">
  <p>fill out and submit this form to reset your password. password must be at least 14 characters long,
     and contain at least one lower case letter, upper case letter, decimal digit and non-alphanumeric
     character (e.g. !, #, %, * etc)</p>
  <table>
   <tr><td><label for="password">new password</label></td>
       <td><input type="password" size=16 name="password"</td></tr>
   <tr><td><label for="again">new password again</label></td>
       <td><input type="password" size=16 name="again"</td></tr>
  </table>
  <input type="submit" value="submit"></input>
  </form>
 {% endif %}{# Password reset, invalid link ... #}
{% elif expired %}{# Not a valid request, expired token #}
<P>This reset link has expired. They are only valid for 15 minutes. Sorry. Please request a new one and try again.</P>
{% elif invalid_token %}{# Not a valid request, the token is not a proper one #}
<P>This is not a valid password reset link. Sorry. If you pasted the link, please check it didn't get truncated and try again, or request a new reset.</P>
{% else %}{# Not a valid request - misc #}
<P>Invalid request.</P>
{% endif %}
{% endblock %}
