{% extends "layout_nofrills.html" %}

{% block title %}Gemini Archive new account request{% endblock %}

{% block body %}
{% if debugging %}<p>formdata: {{ formdata }}</p>{% endif -%}
<h1>New Account Request</h1>
<p>Please note that user accounts are for individual use and should not be shared.
</p>
{% if valid_request %}
 <table>
  <tr><td>Username:</td><td>{{ username }}</td></tr>
  <tr><td>Full Name:</td><td>{{ fullname }}</td></tr>
  <tr><td>Email:</td><td>{{ email }}</td></tr>
 </table>
 <h2>Processing your request...</h2>
{%  if maybe_gemini %}
 <p>That looks like a Gemini Staff email address. If you would like Gemini Staff Access privileges adding to your new archive account, please contact the archive scientist to request that.</p>
{%  endif %}
{%  if error %}
 <p>ERROR: Adding new user failed. Sorry. Please contact helpdesk. TODO - add link to helpdesk.</p>
{%  else %}
 <p>Account request processed.</p>
{%   if emailed %}
 <p>You should shortly receive an email with a link to set your password and activate your account.</p>
 <p>If you don't get the email, please contact the Gemini helpdesk. TODO - add link to helpdesk</p>
 <p><a href="/searchform/{{ thing_string }}">Click here to return to your search.</a> 
    After you set your password and log in using another browser tab, you can just reload or hit the submit button again and it will recognize your login</p>
{%   else %}
 <p>Sending you a password reset email FAILED. Please contact Gemini Helpdesk. Sorry.</p>
{%   endif %}{# if emailed #}
{%  endif %}{# if error #}
{% else %}{# Not a valid request, then #}
{%  if request_attempted %}
 <p>Your request was invalid. {{ reason_bad }}. Please try again.</p>
{%  endif %}
 <form action="/request_account/{{ thing_string}}" method="POST">
  <p>Fill out and submit this short form to request a Gemini Archive account. You must provide a valid email address - we will be emailing you a link to activate your account and set a password. The email should arrive promptly, please note the activation link expires 15 minutes after it was sent. Usernames must be purely alphanumeric characters and must be at least two characters long.</p>
  <table>
   <tr><td><label for="username">Username</label><td>
       <td><input type="text" size=16 name="username" value={{ username }}></input></td></tr>
   <tr><td><label for="fullname">Full Name</label><td>
       <td><input type="text" size=32 name="fullname" value={{ fullname }}></input></td></tr>
   <tr><td><label for="email">Email Address</label><td>
       <td><input type="text" size=32 name="email" value={{ email }}></input></td></tr>
  </table>
  <input type="submit" value="Submit"></input>
 </form>
{% endif %}{# valid_request #}
{% endblock %}
