{% extends "layout.html" %}

{% block title %}Gemini Archive password reset request{% endblock %}

{% block body %}
{% if request_valid == False %}
 <p>That is not a valid username or email address in our system. Maybe you need
    to <a href="/request_account">create a new account</a>?</p>
{% elif invalid_data %}
  <p>Error: no valid username or email. This should not happen.</p>
{% elif emailed_users %}{# We successfully found some users and tried to email them #}
 {% if multiple_users %}
  <p>Multiple usernames are using this email address. We'll send an email for each username.
     Please contact the Gemini Helpdesk to sort this out.</p>
 {% endif %}
 {% for username, success in emailed_users %}
  {% if success %}
   <p>User '{{ username }}' should shortly receive an email with a link to set your password
      and activate your account.</p>
   <p>If you don't get the email, please contact the Gemini helpdesk.</p>
  {% else %}
   <p>Sending password reset email for username '{{ username}}' <strong>FAILED</strong>. Please contact
      Gemini Helpdesk. Sorry.</p>
  {% endif %}
 {% endfor %}
{% else %} {# Just show the form #}

<form action="/request_password_reset" method="POST">
 <p>Enter your Gemini Archive Username or the Email address you registered with us when you
    created the account in the box below and hit submit. We'll send you an email containing
    a link to follow to reset your password. Please note that the link is only valid for
    15 minutes.</p>
 <input type="text" size=32 name="thing"</input>

{# Some kind of captcha here. #}

 <input type="submit" value="Submit"></input>
</form>

{% endif %}
{% endblock %}
