{% extends "user/layout_with_user_table.html" %}

{% block title %}Gemini Archive Staff Access{% endblock %}

{% block body %}
    <h1>Gemini Archive Staff Access</h1>
    {% if allowed %}
        {% if action_name %}
            <p>{{ action_name }} staff access for {{ action_user.fullname }} - {{ action_user.email }}, username: {{ action_user.username }}, ORCID: {{ action_user.orcid_id }}, NOIRLab: {{ action_user.noirlab_id }}</p>
        {%  elif error_message %}
            <p>Error: {{ error_message }}</p>
        {% endif %}

        {{ user_table() }}

        <h2>Grant or Revoke Staff Access</h2>
        <form action="/staff_access" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Type in or click table..."/>
            <label for="orcid_id">ORCID:</label>
            <input type="text" id="orcid_id" name="orcid_id" placeholder="Type in or click table..."/>
            <label for="noirlab_id">NOIRLab ID:</label>
            <input type="text" id="noirlab_id" name="noirlab_id" placeholder="Type in or click table..."/>
            <select name="action">
                <option value="">Action</option>
                <option value="Grant">Grant</option>
                <option value="Revoke">Revoke</option>
            </select>
            <input type="submit" value="Submit" />
        </form>
    {% else %}
        <p>You don't appear to be logged in as a superuser. Sorry.</p>
    {% endif %}
{% endblock %}
