{% extends "layout.html" %}

{% block extra_header %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block title %}Gemini Archive Who Am I{% endblock %}
{% block body %}
<span id="whoami">
{% if username or orcid_id or noirlab_id %}
{# Unicode &#x1f464 is preferable to the user icon, if only browsers supported it (mid 2014) #}
  <img src="/static/user1-64x64.png" height="18px">
  {{ fullname }} &#9662;
  <ul class="whoami">
      {% if orcid_id %}<li class="whoami">ORCID: {{ orcid_id }}</li>{% endif %}
      {% if noirlab_id %}<li class="whoami">NOIRlab ID: {{ noirlab_id }}</li>{% endif %}
      {% if username %}<li class="whoami">Username: {{ username }}</li>{% endif %}
      <li class="whoami">Email {{ email }} {% if username %}<a href="/change_email">[update]</a>{% endif %}</li>
      <li class="whoami"><a href="/logout">Log Out</a></li>
  {% if username %}
  <li class="whoami"><a href="/change_password/{{ thing_string }}">Change Password</a></li>
  <li class="whoami"><a href="/change_email/{{ thing_string }}">Change Email</a></li>
  {% endif %}
  <li class="whoami"><a href="/my_programs/{{ thing_string }}">My Programs</a></li>
  {%  if is_superuser %}
      <li class="whoami"><i>Admin:</i></li>
      <li class="whoami"><a href="/admin_change_email/">Change User's Email</a></li>
      <li class="whoami"><a href="/admin_change_password/">Change User's Password</a></li>
      <li class="whoami"><a href="/admin_file_permissions/">Set Obs/File Permissions</a></li>
      <li class="whoami"><a href="/staff_access/">Edit Staff Access</a></li>
  {% elif user_admin %}
      <li class="whoami"><i>User Admin:</i></li>
      <li class="whoami"><a href="/admin_change_email/">Change User's Email</a></li>
      <li class="whoami"><a href="/admin_file_permissions/">Set Obs/File Permissions</a></li>
  {% elif file_permission_admin %}
      <li class="whoami"><i>Permission Admin:</i></li>
      <li class="whoami"><a href="/admin_file_permissions/">Set Obs/File Permissions</a></li>
  {% endif %}
  </ul>
{% else %}
  <img src="/static/user1-64x64.png" height="18px"> Not logged in &#9662;
  <ul class="whoami">
  <li class="whoami"><a href="/login/{{ thing_string }}">Login or request account</a></li>
  </ul>
{% endif %}
</span>
{% endblock %}
