{% extends "bootstrap_layout.html" %}

{% block title %}Ingest Errors{% endblock %}

{% block bootstrap_body %}
    <table class="table">
        <tr><th>Filename</th><th>Added</th></tr>
        {% for iq in ingest_errors %}
        <tr><td><a href="/console/ingest_errors?detail={{ iq.filename }}">{{ iq.filename }}</a></td>
            <td>{{ iq.added }}</td></tr>
        {% endfor %}
    </table>
    {% if error_details %}
    <div id="error-details">
        <h2>Error Details For {{ detail }}</h2>
        <table class="table">
            <tr><th>Date</th><th>Error Message</th></tr>
            {% for ed in error_details %}
            <tr><td>{{ ed.added }}</td><td><pre>{{ ed.error }}</pre></td></tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}
{% endblock %}
